@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.background-image {
  background-image: url("https://utfs.io/f/79d7c64a-9050-4fb8-a49f-918db70aede2-gcufsv.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: calc(100vh - 60px);
}

.image-card {
  border-radius: 0.25em;
}

.image-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.image-card-content {
  /* crop the image to 16:9 aspect ratio */
  width: 240px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .image-card-content {
    /* crop the image to 16:9 aspect ratio */
    width: 176px;
    height: 110px;
  }
}

dialog {
  max-width: 100vw;
  max-height: 100vh;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 2rem;
  height: 2rem;
  color: white;
  border: none;
  cursor: pointer;
}

.modal {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.parallel {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%; /* Ensure the container takes full height */
}

.modal-image img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
}

.modal-details {
  width: 20rem;
  height: 100%;
  border-radius: 0.5rem;
}

.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.75s infinite linear;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}

.delete-image-btn {
  background-color: crimson;
  color: white;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5em;
}

.delete-image-btn:hover {
  background-color: rgb(200, 100, 100);
}

.top-layer-content {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10000;
}
