@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.background-image {
  background-image: url("https://utfs.io/f/79d7c64a-9050-4fb8-a49f-918db70aede2-gcufsv.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 36rem;
}

.image-card {
  border-radius: 0.25em;
}

.image-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.image-card-content {
  /* crop the image to 16:9 aspect ratio */
  width: 240px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .image-card-content {
    /* crop the image to 16:9 aspect ratio */
    width: 176px;
    height: 110px;
  }
}
